[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=KSUPERKEY
Comment=Makes Super button emit Alt+F1 if not pressed for long enough (useful for main menu)
Exec=ksuperkey
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

